body {
    width: 50vw;
    height: 100vh;
}

#facts {
    margin: 5rem auto;
    height: 50%;
    width: 40%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}