body {
    height: 90vh;
    width: 90vw;
    padding: 0 20px;
    margin: auto 0 auto;
    background-color: green;
}

#button-area {
    display: flex;
    justify-content: center;
    margin: 2rem 0;
}

button {
    width: 120px;
    height: 40px;
    background-color: red;
    color: white;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.5rem;
    border: 1.5px solid black;
    border-radius: 8px;
}

#container {
    height: 80%;
    width: 100%;
}

#deck-stack {
    margin: 5rem auto 0 auto;
    position: relative;
    height: 50%;
    width: 40%;
    display: flex;
    justify-content: center;
}

.card {
    border-radius: 10px;
    width: 250px;
    height: 350px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
}